/* CSS styles for internet-css assignment by Max Wiederholt (max.wiederholt@gmail.com) */

* {
    /* outline: 0; */
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
/* .main-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.random_word_content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} */
.success {
  color: green;
}
.header-child {
  display: inline-block;
}
